body {
    background-color: rgb(248, 177, 106);
}

nav ul {
    background-color: rgb(224, 193, 135);
    padding-top: 0px;
    padding-bottom: 16px;

}

nav ul .sales {
    text-decoration: none;
    font-size: 118%;
    font-style: oblique;
    padding-top: 1% ;
}

nav ul .sales a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(68, 37, 5);
}

nav ul .sales {
    font-weight: bold;
}

.mainlogo {
    position: absolute;
    bottom: 18em;
    left: 26em;
    height: 35em;
    width: 60em;
}

.background {
    width: 1587px;
    height: 1589px;
}



.seattle {
    position: absolute;
    bottom: -6em;
    left: 0em;
    height: 24em;
    width: 35em;

}

.tokyo {
    position: absolute;
    bottom: -4em;
    left: 64em;
    height: 22em;
    width: 34em;
}

.dubai {
    position: absolute;
    bottom: -5em;
    left: 33em;
    height: 23em;
    width: 34em;

}

.paris {
    position: absolute;
    bottom: -30em;
    left: 20em;
    height: 24em;
    width: 34em;


}

.lima{
    position: absolute;
    bottom: -29em;
    left: 54em;
    height: 24em;
    width: 36em;

}

.hours {
    position: absolute;
    bottom: 44em;
    left: 82em;
    height: 9em;
    width: 23em;
    
}

.cutter {
    position: absolute;
    bottom: -50em;
    left: 33em;
    height: 14em;
    width: 18em;
}

.advice{
    position: absolute;
    bottom: -77em;
    left: 35em;
    height: 24em;
    width: 36em;
}

.fish{
    position: fixed;
    bottom: 45em;
    left: 96em;
    height: 9em;
    width: 9em;
}

.frosted{
    position: absolute;
    bottom: -50em;
    left: 58em;
    height: 14em;
    width: 18em;
}

.family{
    position: absolute;
    bottom: -92em;
    left: -4em;
    height: 32em;
    width: 48em;
}

.shirt {
    position: absolute;
    bottom: -81em;
    left: 72em;
    height: 22em;
    width: 25em;
}



nav ul .saleslink {
    text-decoration: none;
    font-size: 118%;
    font-style: oblique;
    padding-top: 1% ;
}

nav ul .saleslink a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(68, 37, 5);
}

nav ul .saleslink {
    font-weight: bold;

}

#SalmonCookies {
    font-weight: bold;
    font-size: 136%;
    position: absolute;
    top: 33em;
    left: 22em;
}


/********************** form ***********************/

#SalmonCookies {
    font-weight: bold;
    font-size: 116%;
    color:rgb(5, 172, 158)
}
#location{
    text-align: center;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: rgb(245, 173, 173);
    
}

#minCus{
    text-align: center;
    border-color: rgb(245, 173, 173);

}
#maxCus{
    text-align: center;
    border-color: rgb(245, 173, 173);

}

#avgCookies{
    text-align: center;
    border-color: rgb(245, 173, 173);

}
